.p-entry {
  &__header {
    position: relative;
    
  }
  &__mv {

  }
  &__titlewrap {
    // position: absolute;
    // bottom: 0;
    // left: 0;
    // width: 100%;
    // transform: translate(0, 50%);

    // &::before {
    //   content: "";
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   width: 50%;
    //   height: 100%;
    //   background-color: rgba($color-main, .6);
    // }
  }
  &__title {
    @include flex;
    @include flex-middle;
    padding: 30px 0;
    width: 52%;
    min-width: 200px;
    // color: #fff;

    

    > span:first-child {
      font-size: rem(38);
      font-weight: bold;
      letter-spacing: 0.05em;
    }
    > span:last-child {
      font-size: rem(20);
      font-weight: bold;
      margin-left: 2em;
      letter-spacing: 0.02em;
    }
  }
}