.p-header {
  &__inner {
    @include flex;
    @include flex-middle;
    @include flex-between;
  }
  &__logo {
    width: 140px;
  }
  &__nav {
    margin-right: 54px;
    > .menu {
       @include flex;

      > li > a {
        display: block;
        padding: 20px 14px;
      }
    }
    
  }
}